.container {
  opacity: 95%;
  border-color: #8c52ff;
  border-style: solid;
  border-width: 0px 2px;
  display: flex;
  align-items: flex-start;
}

@media (max-width: 600px) {
  .container {
    justify-content: center;
  }
}
